@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rozha+One&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rozha+One&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rozha+One&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Caprasimo&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rozha+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Caprasimo&family=Changa+One:ital@0;1&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rozha+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ultra&display=swap");

/* Desktop */
/* ============================= */
body {
  background-color: mintcream;
  color: #003049;
  font-family: "Playfair Display", serif;
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 400px;
  margin: 130px 800px 150px;
  border: #f77f00 solid 10px;
  border-radius: 50%;
  z-index: -1;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 8.75rem;
  margin: 1.25rem 1.25rem 4.375rem 5rem;
  padding-top: 12.5rem;
  text-align: center;
  display: block;
}

#comma {
  color: #f77f00;
}

.name h1 {
  margin-top: -37.5rem;
  margin-left: -50rem;
}

#about {
  background-color: #eae2b7;
  margin: 0 auto;
  padding: 1.875rem;
}

#about h2 {
  font-size: 3.438rem;
  text-align: center;
}

#about p {
  text-align: justify;
  max-width: 50rem;
  margin: 1.25rem auto;
  line-height: 1.8;
  font-size: 1.125rem;
}

h2 {
  color: #d62828;
  padding: 0.125rem 0.313rem;
  padding-top: 1.25rem;
  margin: 0rem 0.25rem;
  /* border: #8BBF9F solid 3px; */
  font-weight: 300;
  font-family: "Rozha One", serif;
  font-size: 3.438rem;
}

p,
ul {
  margin: 0.625rem;
  padding: 1.25rem 0rem;
}

/* #experience li {
    background-color: #EAE2B7;
    margin: 15px;
    padding: 15px 0px;
    list-style:none;
    text-align: center;
} */

#experience {
  padding: 2.5rem 1.25rem;
  text-align: center;
}

#experience ul {
  max-width: 56.25rem;
  margin: 1.875rem auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  list-style-type: none;
}

#experience li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.job-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: #003049;
}

.date {
  font-size: 1.125rem;
  color: #f77f00;
}

#experience p {
  margin: 0;
  text-align: justify;
}

.navbar ul {
  background-color: #00304999;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  margin: 0 0;
  padding: 2.5rem 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  top: 0;
}

.navbar ul a {
  text-decoration: none;
  color: mintcream;
}

.social {
  background-color: #003049;
  display: flex;
  justify-content: space-around;
}

.social i {
  margin: 1.25rem;
  color: mintcream;
  font-size: 4.375rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.social a {
  text-decoration: none;
}

#connect {
  background-color: #003049;
  text-align: center;
}

/* Mobile */
/* ====================== */

@media (max-width: 600px) {
  h1{
    font-size: 5.75rem;
    padding-top: 1.5rem;
  }

  img {
    width: 300px;
    margin: 200px 0px 0px 120px;
    border: #f77f00 solid 4px;
  }

  .name h1 {
    margin-top: 0rem;
    margin-left: 0rem;
  }

  #about p {
    font-size: 1rem;
  }

  .job-title {
    font-size: 1.188rem;
  }

  .date {
    font-size: 1rem;
  }

  #experience p {
    font-size: 1rem;
  }

  .social i {
    margin: 1rem;
    font-size: 3.375rem;
  }


}

/* ====================== */



/* Tablet */
/* ===================== */
@media (min-width: 768px) {

  h1{
    font-size: 7.05rem;
    padding-top: 9.5rem;
  }

  img {
    width: 350px;
    margin: 150px 0px 50px 380px;
    border: #f77f00 solid 6px;
  }

  .name h1 {
    margin-top: -20.5rem;
    margin-left: -18rem;
  }

  .social i {
    margin: 1.25rem;
    font-size: 4.25rem;
  }
}

/* ====================== */
